addict==2.4.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
anyio==3.3.0
appdirs==1.4.4
argcomplete==1.12.3
argon2-cffi==20.1.0
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==4.0.0
blessings==1.7
brotlipy==0.7.0
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
click==8.0.1
colorama==0.4.4
conda==4.10.3
conda-build==3.21.4
conda-package-handling==1.7.3
cryptography==3.4.7
cycler==0.10.0
Cython==0.29.24
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
deprecation==2.1.0
entrypoints==0.3
filelock==3.0.12
freetype-py==2.2.0
future==0.18.2
gdown==3.13.0
glob2==0.7
google-api-core==1.31.2
google-auth==1.35.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.39.0
h5py==3.3.0
hiredis==2.0.0
idna==2.10
imageio==2.9.0
importlib-metadata==4.6.4
ipykernel==6.2.0
ipython==7.26.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter-client==7.0.1
jupyter-core==4.7.1
jupyter-packaging==0.10.4
jupyter-server==1.10.2
jupyterlab==3.1.7
jupyterlab-pygments==0.1.2
jupyterlab-server==2.7.1
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
libarchive-c==2.9
llvmlite==0.37.0
loguru==0.5.3
Mako==1.1.5
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.2
multidict==5.1.0
nbclassic==0.3.1
nbclient==0.5.4
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.2
neural-renderer-pytorch==1.1.3
notebook==6.4.3
numba==0.54.0
numpy==1.20.3
nvidia-ml-py3==7.352.0
olefile==0.46
open3d==0.9.0.0
opencensus==0.7.13
opencensus-context==0.1.2
opencv-python==4.5.3.56
packaging==21.0
pandas==1.3.2
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
pip==21.2.2
pkginfo==1.7.1
prometheus-client==0.11.0
prompt-toolkit==3.0.20
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
py-spy==0.3.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.3
pycosat==0.6.3
pycparser==2.20
pycuda==2021.1
pydantic==1.8.2
pyglet==1.5.19
Pygments==2.10.0
PyOpenGL==3.1.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrender==0.1.45
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.2
pytools==2021.2.8
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.2.1
ray==1.5.2
redis==3.5.3
requests==2.25.1
requests-unixsocket==0.2.0
rsa==4.7.2
ruamel-yaml-conda==0.15.100
scikit-image==0.18.2
scikit-learn==0.24.2
scipy==1.7.1
Send2Trash==1.8.0
setuptools==52.0.0.post20210125
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
sparsehash==0.4
tensorboardX==2.4
terminado==0.11.1
terminaltables==3.1.10
testpath==0.5.0
threadpoolctl==2.2.0
tifffile==2021.8.8
tomlkit==0.7.2
torch==1.6.0
torchvision==0.7.0
tornado==6.1
tqdm==4.62.1
traitlets==5.0.5
transforms3d==0.3.1
trimesh==3.9.29
typing-extensions==3.10.0.0
urllib3==1.26.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
wheel==0.37.0
widgetsnbextension==3.5.1
yacs==0.1.8
yapf==0.31.0
yarl==1.6.3
zipp==3.5.0
